<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>InventorySystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script>
      if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-200">
    <div class="min-h-full">
     
      <nav class="bg-gray-800" x-data="{ open: false }">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="flex h-16 items-center justify-between">
            <div class="flex items-center">
              <div class="flex-shrink-0">
                <%= link_to "InventorySys", root_path, class: "text-white font-bold text-xl" %>
              </div>
              <div class="hidden md:block">
                <div class="ml-10 flex items-baseline space-x-4">
                  <%= link_to "Artículos", articulos_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
                  <%= link_to "Usuarios", personas_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
                  <%= link_to "Modelos", modelos_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
                  <%= link_to "Marcas", marcas_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
                </div>
              </div>
            </div>
            <div class="hidden md:flex md:items-center ml-4">
              <% if authenticated? %>
                <%= link_to "Cerrar sesión", session_path, data: { turbo_method: :delete }, class: "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
              <% else %>
                <div class="flex items-baseline space-x-4">
                  <%= link_to "Iniciar sesión", new_session_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
                  <%= link_to "Registrarse", sign_up_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
                </div>
              <% end %>

              <div data-controller="theme" class="ml-4">
                <button type="button" data-action="click->theme#toggle" class="relative inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                  <svg data-theme-target="sunIcon" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.908-2.636l1.591-1.591M3 12H.75m2.636-4.908l1.591 1.591M12 4.5a7.5 7.5 0 100 15 7.5 7.5 0 000-15z" /></svg>
                  <svg data-theme-target="moonIcon" class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25c0 5.385 4.365 9.75 9.75 9.75 2.597 0 4.965-.992 6.752-2.624z" /></svg>
                </button>
              </div>
            </div>
          
            <div class="-mr-2 flex md:hidden">
              <button @click="open = !open" type="button" class="relative inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" aria-controls="mobile-menu" aria-expanded="false">
                <svg :class="{'hidden': open, 'block': !open }" class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" /></svg>
                <svg :class="{'block': open, 'hidden': !open }" class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" /></svg>
              </button>
            </div>
          </div>
        </div>
   
        <div x-show="open" class="md:hidden" id="mobile-menu" style="display: none;">
          <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3">
            <%= link_to "Artículos", articulos_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium" %>
            <%= link_to "Personas", personas_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium" %>
            <%= link_to "Modelos", modelos_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium" %>
            <%= link_to "Marcas", marcas_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium" %>
          </div>

          <div class="border-t border-gray-700 pb-3 pt-4 px-2" data-controller="theme">
            <button type="button" data-action="click->theme#toggle" class="w-full flex items-center justify-start rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white">
              <svg data-theme-target="sunIcon" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.908-2.636l1.591-1.591M3 12H.75m2.636-4.908l1.591 1.591M12 4.5a7.5 7.5 0 100 15 7.5 7.5 0 000-15z" /></svg>
              <svg data-theme-target="moonIcon" class="hidden h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25c0 5.385 4.365 9.75 9.75 9.75 2.597 0 4.965-.992 6.752-2.624z" /></svg>
              <span class="text-base font-medium">Cambiar Tema</span>
            </button>
          </div>
          <div class="border-t border-gray-700 pb-3 pt-3">
            <div class="space-y-1 px-2">
              <% if authenticated? %>
                <%= link_to "Cerrar sesión", session_path, data: { turbo_method: :delete }, class: "text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium" %>
              <% else %>
                <%= link_to "Iniciar sesión", new_session_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium" %>
                <%= link_to "Registrarse", sign_up_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium" %>
              <% end %>
            </div>
          </div>
        </div>
      </nav>

    
      <main>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
   
          <% if notice %>
            <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-4 dark:bg-green-900 dark:border-green-700 dark:text-green-200" role="alert">
              <span class="block sm:inline"><%= notice %></span>
            </div>
          <% end %>
          <% if alert %>
             <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4 dark:bg-red-900 dark:border-red-700 dark:text-red-200" role="alert">
              <span class="block sm:inline"><%= alert %></span>
            </div>
          <% end %>

          <%= yield %>
        </div>
      </main>
    </div>
    

    <footer class="bg-white shadow mt-12 dark:bg-gray-800">
      <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-300">© 2025 InventorySystem™. All Rights Reserved.</span>
      </div>
    </footer>
  </body>
</html>