<div id="<%= dom_id articulo %>">
  <p>
    <strong>Fecha ingreso:</strong>
    <%= articulo.fecha_ingreso %>
  </p>

  <p>
    <strong>Modelo:</strong>
    <%= articulo.modelo.marca.nombre %> <%= articulo.modelo.nombre %>
  </p>

  <p>
    <strong>Persona:</strong>
    <%= articulo.persona&.nombre_completo %>
  </p>
</div>